.form-input-label {
    font-weight: 800; 
    font-size: 1.1rem;
}

.form-input-md {
    width: 200px;
}

.select-children {
    max-height: 150px!important;
}

.link-input-label {
    font-weight: 800; 
    font-size: 1.1rem;
    color: #4ab7c6;
}

.border-element-selected {
    border: 2px;
    border-style: solid;
    border-color: #4ab7c6;
    border-radius: 8px;
}

.border-element {
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
        
}

.label-blue-lg > span {
    font-weight: 600;
    font-size: 1.2rem;
    color: #4ab7c6;
}

.label-blue-lg {
    font-weight: 600;
    font-size: 1.2rem;
    color: #4ab7c6;
}

.label-black-lg > span {
    font-weight: 600;
    font-size: 1.2rem;
}

.label-black-lg {
    font-weight: 600;
    font-size: 1.2rem;
}

.label-black-md > span {
    font-weight: 600;
    font-size: 1rem;
}

.label-black-md {
    font-weight: 600;
    font-size: 1rem;
}

.select-form-control > div {
    padding: 0;
}