.RootContainer {
    width: calc(100% - 30%); 
    margin-top: 56px;
    margin-left: 15%;
    background-color: white;
    border: 2px;
    border-style: solid;
    border-color: #4ab7c6;
    border-radius: 8px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 96px;
    padding-right: 96px;
}

@media only screen and (max-width: 600px) {
    .RootContainer {
        width: 100%;
        margin-top: 16px;
        margin-left: 8px;
        background-color: white;
        border: 2px;
        border-style: solid;
        border-color: #4ab7c6;
        border-radius: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        padding-right: 8px;
    }
}